name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: olafurpg/setup-scala@v13
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - uses: coursier/cache-action@v6
    - run: sbt -v "+ test"
  push_gh_pages:
    needs: test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: olafurpg/setup-scala@v13
      with:
        java-version: "adopt@1.8"
    - uses: actions/checkout@v2.4.0
    - uses: coursier/cache-action@v6
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 2.7.2
    - run: gem update --system && gem install jekyll bundler
    - run: sbt -v docs/makeMicrosite
    - run: sudo apt-get install tree
    - run: tree docs/target/site
    - name: Push to gh-pages
      if: ${{ !github.event.repository.fork && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4.2.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/target/site
        CLEAN: true
