name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 17
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "+ test"
  push_gh_pages:
    needs: test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 17
        distribution: adopt
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.3.0
    - run: gem update --system && gem install jekyll bundler
    - uses: sbt/setup-sbt@v1
    - run: sbt -v docs/makeMicrosite
    - run: sudo apt-get install tree
    - run: tree docs/target/site
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'b-studios' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@v4.8.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/target/site
        CLEAN: true
